<ion-content>
  <ion-card id="loginCard">
    <div class="login">
     
      
    <ion-list>
      <div class="logo">
        <img src="../../../assets/icon/logo.png">
       </div>
      <ion-item lines="none">
        <ion-icon name="person" color="primary" slot="start" class="loginIcon"></ion-icon>
        <ion-input autocorrect="on" autofocus="on"  color="primary" inputmode="text" placeholder="Enter Email Id" required="true"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="call" color="primary" slot="start" class="loginIcon"></ion-icon>
        <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter Phone number" required="true"></ion-input>       
      </ion-item>
      <ion-button shape="round" size="large" expand="block" class="ion-button-class">Create an account</ion-button>
    </ion-list>
  </div>
  </ion-card>
</ion-content>