<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/mainpage"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center;">My Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <img id="imgcover" src="../../../assets/flowers/birthday.png">
  </div>
  <ion-card color="light">
    <div class="img-wrapper">
      <img src="../../../assets/flowers/valentine.png" />
      <ion-button color="light">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
      <div style="margin-top: 52px;">
        <h5 style="margin: 0;padding-left: 10px;">Ashish Chaurasiya</h5>
        <div>
   <!-- <ion-item>
     
   </ion-item> -->
        </div>
        <div style="display: inline-flex;padding-left: 10px;"><ion-icon name="mail-outline"></ion-icon><p style="margin-top:0;padding-left:5px;">ashish@gmail.com</p></div><br>
        <!-- <div style="display: inline-flex;padding-left: 10px;"><ion-icon name="mail-outline"></ion-icon><p style="margin-top:0;padding-left:5px;">Zahra Zamin</p></div> -->
        <!-- <div><ion-icon name="call-outline"></ion-icon><p>Zahra Zamin</p></div> -->
      </div>
      
    </div>
    <!-- <ion-card-content class="ion-text-center">
      <h2>Zahra Zamin</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="location-outline" color="medium">
          </ion-icon>
          <p>2345 Street, Ohio, USA.</p>
        </div>
      </ion-text>
    </ion-card-content> -->
  </ion-card>
  <ion-card style="padding: 0;">
    <ion-item>
      <ion-avatar slot="start" class="avt">
        <ion-icon name="location-outline" style="font-size: 25px;
        text-align: center;
        padding-top: 7px;
        padding-left: 7px;
        color: white;
        opacity: 1;"></ion-icon>
      </ion-avatar>
      <ion-label>My Address</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-card>


  <ion-card style="padding: 0;">
    <ion-item>
      <ion-avatar slot="start" class="avt">
        <ion-icon name="key-outline"  style="font-size: 25px;
        text-align: center;
        padding-top: 7px;
        padding-left: 7px;
        color: white;
        opacity: 1;"></ion-icon>
      </ion-avatar>

     
      <ion-label>Change Password</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card style="padding: 0;">
    <ion-item>
      <ion-avatar slot="start" class="avt">
        <ion-icon name="chatbubbles-outline"  style="font-size: 25px;
        text-align: center;
        padding-top: 7px;
        padding-left: 7px;
        color: white;
        opacity: 1;"></ion-icon>
      </ion-avatar>
      
      <ion-label>My Reviews</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card style="padding: 0;">
    <ion-item>
      <ion-avatar slot="start" class="avt">
        <ion-icon name="power-outline" 
        style="font-size: 25px;
        text-align: center;
        padding-top: 7px;
        padding-left: 7px;
        color: white;
        opacity: 1;"></ion-icon>
      </ion-avatar>
     
      <ion-label>Logout</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>