<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/mainpage"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center;margin-right: 0px;" ><img id="header" src="../../../assets/icon/logo.png"></ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart-outline" style="font-size:20px;padding-right: 10px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: #f5f5f5;">
<ion-grid>
  <ion-row >
    <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let i of flowercard" class="line">

      <ion-row>
        <ion-col size="12" style="padding-top: 0;padding-bottom: 0;">
          <ion-icon name="heart-outline" slot="end" style="font-size:20px;padding-right: 10px;"></ion-icon>
          <img style="height: 150px;width: 100%;border-radius: 5px;" src="{{i.img}}">
         
        </ion-col>
       <ion-row style="background: white;width: 100%;padding-right: 5px;">   
        <ion-col size='7' style="display: flex;"> 
          <span style="font-size: 13px;padding-top: 5px;">{{i.name}}</span>
          </ion-col>
            <ion-col size='5'>
              <ion-button size='small' style="font-size: 10px;">Rs.{{i.price}}/-
              </ion-button>
            </ion-col>
       </ion-row>
       
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
